* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

:root {
  --background-color: #ffffff;
  --secondary-background-color: #ffffff;
  --text-color: #000000;
  --transparent-color: rgba(0, 0, 0, 0.2);
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --header-box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.darkMode {
  --background-color: #21211f;
  --secondary-background-color: #363532;
  --text-color: #ffffff;
  --transparent-color: rgba(255, 255, 255, 0.2);
  --box-shadow: none;
  --header-box-shadow: none;
}

/* THE WIDTH TO ADD TO EVERY SECTION */
.container {
  width: 90%;
}

/* STYLE FOR THE PAGE CONTENT */
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  background-color: var(--background-color);
}

/* HEADER STYLE */
.header {
  width: 100%;
  padding: 15px 0px;
  color: var(--text-color);
  box-shadow: var(--header-box-shadow);
  background-color: var(--secondary-background-color);
}

.headerContent {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  gap: 5px;
}

.logoTitle {
  font-weight: 700;
}

.logoText {
  color: var(--transparent-color);
}

.viewModeButton {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  background: var(--background-color);
}

/* STYLE FOR SEARCH BAR AND DROPDOWN MENU */
.searchDropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.searchBar {
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  padding-left: 40px;
  padding-right: 5px;
  font-size: 16px;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-background-color);
}

.searchWrapper i {
  font-size: 25px;
  padding: 7px;
  position: absolute;
  color: var(--text-color);
}

.dropdown {
  height: 40px;
  width: 180px;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  background: var(--secondary-background-color);
}

.dropdownButtonContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}

/* COUNTRY CARD STYLE */

.countryCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-top: 60px;
}

.countryCard {
  width: 300px;
  height: 100%;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-background-color);
}

.countryFlag {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
}

.country {
  padding: 15px;
}

.countryDetails {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-bottom: 40px;
  gap: 8px;
}
