* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

:root {
  --background-color: #ffffff;
  --secondary-background-color: #ffffff;
  --text-color: #000000;
  --transparent-color: rgba(0, 0, 0, 0.2);
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --header-box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.darkMode {
  --background-color: #21211f;
  --secondary-background-color: #363532;
  --text-color: #ffffff;
  --transparent-color: rgba(255, 255, 255, 0.2);
  --box-shadow: none;
  --header-box-shadow: none;
}

body {
  background-color: var(--background-color);
}

/* THE WIDTH TO ADD TO EVERY SECTION */
.container {
  width: 90%;
}

/* STYLE FOR THE PAGE CONTENT */
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  background-color: var(--background-color);
}

/* HEADER STYLE */
.header {
  width: 100%;
  padding: 15px 0px;
  color: var(--text-color);
  box-shadow: var(--header-box-shadow);
  background-color: var(--secondary-background-color);
}

.headerContent {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  gap: 5px;
}

.logoTitle {
  font-weight: 700;
}

.logoText {
  color: var(--transparent-color);
}

.viewModeButton {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  background: var(--background-color);
}

/* STYLE FOR SEARCH BAR AND DROPDOWN MENU */
.searchDropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.searchBar {
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  padding-left: 40px;
  padding-right: 5px;
  font-size: 16px;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-background-color);
}

.searchWrapper i {
  font-size: 25px;
  padding: 7px;
  position: absolute;
  color: var(--text-color);
}

.dropdown {
  height: 40px;
  width: 180px;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  background: var(--secondary-background-color);
}

.dropdownButtonContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}

/* COUNTRY CARD STYLE */

.countryCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-top: 60px;
}

.countryCard {
  width: 300px;
  height: 100%;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-background-color);
}

.countryFlag {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
}

.country {
  padding: 15px;
}

.countryDetails {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-bottom: 40px;
  gap: 8px;
}

.cardLink {
  text-decoration: none;
}

/* Country Details Style */

.countryDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 150px;
}

.countryDetailsTextContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 50px;
  color: var(--text-color);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.countryDetailsFlag {
  height: 300px;
}

.countryDetailsContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 1430px) {
  .countryCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 60px;
  }

  .countryCard {
    width: 400px;
  }
}

@media (max-width: 1380px) {
  .countryCard {
    width: 300px;
  }
}

@media (max-width: 1050px) {
  .countryCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 60px;
  }

  .countryCard {
    width: 420px;
  }
}

@media (max-width: 950px) {
  .countryCard {
    width: 400px;
  }
}

@media (max-width: 900px) {
  .countryCard {
    width: 300px;
  }

  .countryDetailsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .countryDetailsTextContainer h1 {
    align-self: center;
  }

  .countryDetailsContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    padding-inline: 150px;
  }

  .countryDetailsFlag {
    width: 700px;
  }
}

@media (max-width: 820px) {
  .logoText {
    display: none;
  }
}

@media (max-width: 750px) {
  .countryDetailsFlag {
    width: 600px;
  }

  .countryDetailsContent {
    padding-inline: 90px;
  }
}

@media (max-width: 700px) {
  .countryCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 60px;
  }

  .countryDetailsContent {
    padding-inline: 80px;
  }
}

@media (max-width: 650px) {
  .countryCard {
    width: 250px;
  }

  .countryDetailsFlag {
    width: 500px;
  }

  .countryDetailsContent {
    padding-inline: 100px;
  }
}

@media (max-width: 580px) {
  .countryCards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding-top: 60px;
  }

  .countryCard {
    width: 450px;
  }

  .countryDetailsFlag {
    width: 450px;
  }

  .countryDetailsContent {
    padding-inline: 100px;
  }
}

@media (max-width: 540px) {
  .searchDropdown {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
  }

  .searchWrapper {
    width: 100%;
  }

  .searchBar {
    width: 100%;
  }

  .dropdown {
    align-self: flex-end;
  }
}

@media (max-width: 490px) {
  .countryCard {
    width: 400px;
  }

  .countryDetailsFlag {
    width: 400px;
  }

  .countryDetailsContent {
    padding-inline: 40px;
  }
}

@media (max-width: 450px) {
  .countryCard {
    width: 300px;
  }

  .countryDetailsFlag {
    width: 300px;
    height: 200px;
  }

  .countryDetailsContent {
    padding-inline: 40px;
  }
}
